* {
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* background-color: black; */
}

.containers {
    max-width: 1240px;
    margin: 0 auto;
}

.area {
    background-image: url(../images/images/timurid--imper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 800px;
}

#box {
    opacity: 0;
    transform: translateY(-10px);
    transform: all 0.3s allow-disrete;


    position-anchor: --anchor;
    top: anchor(bottom);
    left: anchor(left);





    margin: 0;
}

#box:popover-open {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s ease; 
}

@starting-style {
    #box:popover-open {
        opacity: 0;
        transform: translateY(-10px);
        transition: transform 0.3s ease; 
    }
}

#anchor {
    anchor-name: --anchor;
}

#box{
    background-color: rgba(186, 1, 1, 0.589);
    color: whitesmoke;
    padding: 5px;
    border-radius: 20px;
    border: 5px solid rgba(186, 1, 1, 0.682);
}
#boxbutton{
    padding: 5px;
    border-radius: 20px;
    border: 5px solid rgb(146, 0, 0);
}